<div class="loginState">
    <div class="loginSpace"></div>

    <div class="loginSpace">
        <div class="loginSpace"></div>


        <div class="loginSpace">
            <div class="login">
                    <div class="loginImage"></div>
                    <form ng-submit="login(user)">
                        <p></p>
                        <input type="text" class="loginInput" placeholder="What is your username ?" ng-model="user.username">
                        <p></p>
                        <input type="password" class="loginInput" placeholder="What is your password ?" ng-model="user.password">
                        <p></p>
                        <button class="loginSubmit" type="submit">Log In</button>
                        <p>Don't have a log in? Sign up <a href="/#/registration">here</a>!</p>
                    </form>
            </div>
        </div>


        <div class="loginSpace"></div>
    </div>

    <div class="loginSpace"></div>
</div>