<div class="mainState">

    <div class="login">

        <div class="loginSpace"></div>
        
        <div class="loginSpace">
            <form ng-submit="login()">
                <div class="loginMenu">
                    What is your username ?
                    <br>
                    <input type="text" class="loginInput" placeholder="Username" ng-model="user.username">
                    <br> What is your password ?
                    <br>
                    <input type="password" class="loginInput" placeholder="Password" ng-model="user.password">
                    <br>
                    <button class="loginSubmit" ng-click="toggle();" type="submit">Log In</button>
                </div>
            </form>
            <p>Don't have a log in? Sign up <a href="/#/registration">here</a>!</p>
        </div>

    </div>

</div>