<div class="regState">

    <form ng-submit="register()">
        <input id="registrationInput" type="text" placeholder="Enter First Name" ng-model="user.firstName">
        <p></p>
        <input id="registrationInput" type="text" placeholder="Enter Last Name" ng-model="user.lastName">
        <p></p>
        <input id="registrationInput" type="text" placeholder="Create Username" ng-model="user.username" required>
        <p></p>
        <input id="registrationInput" type="text" placeholder="emailAddress@email.com" ng-model="user.email">
        <p></p>
        <input id="registrationInput" type="text" placeholder="Enter Cohort" ng-model="user.cohort">
        <p></p>
        <input id="registrationInput" type="text" placeholder="Student, Mentor, Brack?" ng-model="user.role">
        <p></p>
        
        <div id="registrationSubmit">
            <p>Password</p>
            <input id="registrationInput" type="password" placeholder="Create Password" ng-model="user.password" required>
            <br>
            <button class="registrationSubmit" type="submit">Create Account</button>
        </div>
    </form>

</div>