.loginState {
    margin: auto; margin-top: 0;
    /*border: 1px solid rgba(125, 0, 100, 1);*/
    background-color: rgba(150, 150, 150, 1);
    height: 91%;
    width: 100%;
}

.loginSpace { text-align: center;
    /*border: 1px solid rgb(500, 0, 500);*/
    width: 100%;
    display: inline-flex;
}

a {
    /*border: 1px solid rgb(500, 0, 500);*/
    width: 100%;
}

.login { color: rgba(1000, 1000, 1000, 1); text-align: center; 
    border: 1px solid rgba(250, 150, 0, 1);
    background-color: rgba(200, 100, 0, 1);
    margin: auto; margin-top: 7.5%;
    width: 350px;
    height: 450px;
}

.loginSpace {
    border: 1px solid rgba(250, 150, 0, 1);
    background-color: rgba(200, 100, 0, 1);    
    height: 50%;
}

.loginRef { color: white; text-decoration: none; font-size: 100%; }

p { 
    border: 1px solid rgba(150, 150, 150, 1);
    background-color: rgba(100, 100, 100, 1);    
    }