.mainState {
    margin: auto; margin-top: .25%;
    border: 1px solid rgba(125, 0, 100, 1);
    background-color: rgba(100, 0, 75, 1);
    height: 98.75%;
    width: 98.5%;
}

.mainSpace { text-align: center;
    /*border: 1px solid rgb(500, 0, 500);*/
    width: 100%;
    display: inline-flex;
}

a {
    /*border: 1px solid rgb(500, 0, 500);*/
    width: 100%;
}