<div class="navBar">

    <!--Admin-->
    <div class="navBarAdmin" ng-show="false">
        <div class="navBarSpace">Cohort {{title}}</div>
        <div class="navBarSpace">
            <button class="navBarButton">Cohorts</button>
        </div>
        <!--<div class="navBarSpace"><button class="navBarButton">Mentors</button></div>-->
        <div class="navBarSpace">
            <button class="navBarButton">Students</button>
        </div>
        <!--<div class="navBarSpace"><button class="navBarButton">Curriculum</button></div>-->
        <!--<div class="navBarSpace"><button class="navBarButton">Trophies</button></div>-->
        <div class="navBarSpace">
            <button class="navBarButton">Cards</button>
        </div>
        <div class="navBarSpace">
            <button class="navBarButton">Badges</button>
        </div>      
        <!--<div class="navBarSpace"><button class="navBarButton">Achievements</button></div>-->
    </div>

    <!--Student-->
    <div class="navBarStudent" ng-show="false">
        <div class="navBarSpace">Cohort {{title}}</div>
        <div class="navBarSpace">Level{{lvlName}} {{lvlNumber}}</div>
        <div class="navBarSpace">Progress Bar{{progressBar}}</div>
        <div class="navBarSpace">Points {{number}}</div>
        <div class="navBarSpace">Badges {{number}}</div>
        <div class="navBarSpace">Bronze {{number}}</div>
        <div class="navBarSpace">Silver {{number}}</div>
        <div class="navBarSpace">Gold {{number}}</div>
        <div class="navBarSpace">Mentor {{name}}</div>
    </div>

</div>